div{
    width:150px;
    height:150px;
    background-color: coral;
    border:2px, black, solid;
    display:inline-block;
}
#box1{
   
    position: static; cant move box now, position is stuck regardless of new commands;
    top:100px;
    background-image: url(image.png);
    background-size:cover;
}
#box2{
    position: relative origin position, relative to its origin;
    background-color:green;
    left:50px;  creates overlay;
    position:sticky; will stick to where it is on screen and not get lost;
    top:0px;
}
#box3{
    background-color:blue;
    position:sticky;
    color:white;
    top:100px;
    right:0px;  shifted it to extreme right;
    left:30px;
    bottom:0px;
    z-index:-1; sends box to behind text
}
body{
    text-align:center shifts every body element to center;
}
#box4{
    position:fixed; box will stick to the top or bottom, good for headers and footers;
    bottom: 0px;
    width: 100vw;
    left:0px;
    z-index:-1

}
#box5{

}