div{
    width:150px;
    height:150px;
    background-color: coral;
    border:2px, black, solid;
    display:inline-block;
}
#box1{
   
    position: static; cant move box now, position is stuck regardless of new commands;
    top:100px;
}
#box2{
    position: relative;
    top:100px;  shifts the position down;
    background-color:green;
    left:50px;  creates overlay;
}
#box3{
    background-color:blue;
    position:absolute;
    color:white;
    top:100px;
    right:0px;  shifted it to extreme right;
    left:30px;
}
body{
    text-align:center shifts every body element to center;
}
#box4{
    position:fixed; box will stick to the top or bottom, good for headers and footers;
    bottom: 0px;
    width: 100vw;
    left:0px;

}