div{
    width:150px;
    height:150px;
    background-color: coral;
    border:2px, black, solid;
    display:inline-block;
}
#box1{
   
    position: static;
    top:100px;
}
#box2{
    position: relative;
    top:100px; shifts the position down;
    background-color:green;
    left:50px; creates overlay;
}